/* *** *** *** Uses Data *** *** *** */
/* Primary-color: #E64A19 */
/* light Primary-color: #FF7043 */

/* secondary-color: #2E7D32 */
/* light secondary-color: #66BB6A */

/* main white-color: #F2EFEA */
/* main black-color: #1A181B */

/* font-family: 'Grand Hotel', cursive; */
/* font-family: 'Roboto', sans-serif; */

/* *** *** *** css reset *** *** *** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #1a181b;
  position: fixed;
}

/* *** *** *** utilities classes *** *** *** */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #1a181b;
}

img {
  display: block;
  width: 100%;
}

/* *** *** *** global css *** *** *** */
section {
  margin-bottom: 5rem;
}
.btn {
  display: inline-block;
  border: 0.2rem solid;
  border-color: transparent;
  outline: none;
  background: linear-gradient(to right bottom, #e64a19, #ff7043);
  box-shadow: 0 2px 4px #ff7043;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  color: #f2efea;
  border-radius: 2rem;
  transition: all.2S linear;
}

.btn:hover {
  background: rgba(255, 112, 67, 0.1);
  color: #e64a19;
  border: 0.2rem solid #e64a19;
}

/* *** *** *** nav section *** *** *** */

#nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  position: absolute;
  top: 0;
  left: 0;
}

#nav .logo {
  margin-right: auto;
  padding: 1rem;
  font-family: "Grand Hotel", cursive;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2efea;
  cursor: pointer;
  transition: 0.25s;
}
#nav .logo:hover {
  color: #2e7d32;
}
#nav .logo span {
  color: #2e7d32;
  transition: 0.2s;
}
#nav .logo:hover span {
  color: #f2efea;
}

#nav .nav-links {
  list-style: none;
  font-size: 2rem;
  display: flex;
}

#nav .nav-links li {
  margin-right: 2rem;
  transition: 0.25s;
}

#nav .nav-links li a {
  color: #f2efea;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
}

#nav .nav-links li:hover a,
#nav .nav-links li.active a {
  color: #2e7d32;
  border-bottom: 2px solid #2e7d32;
}

#nav input {
  outline: none;
  border: none;
  border-bottom: 2px solid #f2efea;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #f2efea;
}

#nav input::placeholder {
  color: #f2efea;
  font-weight: 100;
}

#nav input:active,
#nav input:focus {
  border-color: #2e7d32;
  color: #2e7d32;
}
#nav input:focus::placeholder {
  border-color: #2e7d32;
  color: #2e7d32;
}

/* *** *** *** banner section*** *** *** */
#banner {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/banner.jpg) bottom/cover fixed no-repeat;
  display: flex;
  color: #f2efea;
  align-items: center;
}

#banner .text-area,
#banner .image-area {
  width: 50%;
  /* height: 100%; */
  margin: 0 4rem;
  padding: 4rem 2rem;
}

#banner .text-area .main-title {
  text-transform: capitalize;
  font-size: 4.4rem;
  letter-spacing: 0.2rem;
  line-height: 5.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

#banner .text-area .main-title span {
  color: #e64a19;
}

#banner .text-area p {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

#banner .image-area {
  /* background: url(./img/group-bg.png) center/cover no-repeat; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .image-area img {
  padding: 4rem;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}
