/* *** *** *** Uses Data *** *** *** */
/* Primary-color: #E64A19 */
/* light Primary-color: #FF7043 */

/* secondary-color: #2E7D32 */
/* light secondary-color: #66BB6A */

/* main white-color: #F2EFEA */
/* main black-color: #1A181B */

/* font-family: 'Grand Hotel', cursive; */
/* font-family: 'Roboto', sans-serif; */

/* *** *** *** css reset *** *** *** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #1a181b;
  position: relative;
}

/* *** *** *** utilities classes *** *** *** */
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #1a181b;
}

img {
  display: block;
  width: 100%;
}

/* *** *** *** global css *** *** *** */
section {
  padding: 5rem 0;
}

.btn {
  display: inline-block;
  border: 0.2rem solid;
  border-color: transparent;
  outline: none;
  background: linear-gradient(to right bottom, #e64a19, #ff7043);
  box-shadow: 0 2px 4px #ff7043;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  color: #f2efea;
  border-radius: 2rem;
  transition: all.2S linear;
  cursor: pointer;
}

.btn:hover {
  background: rgba(255, 112, 67, 0.1);
  color: #e64a19;
  border: 0.2rem solid #e64a19;
}

/* *** *** *** nav section *** *** *** */

#nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  z-index: 99;
}

#nav .logo {
  margin-right: auto;
  padding: 1rem;
  font-family: "Grand Hotel", cursive;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2efea;
  cursor: pointer;
  transition: 0.25s;
}
#nav .logo:hover {
  color: #2e7d32;
}
#nav .logo span {
  color: #2e7d32;
  transition: 0.2s;
}
#nav .logo:hover span {
  color: #f2efea;
}

#nav .nav-links {
  list-style: none;
  font-size: 2rem;
  display: flex;
}

#nav .nav-links li {
  margin-right: 2rem;
  transition: 0.25s;
}

#nav .nav-links li a {
  color: #f2efea;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
}

#nav .nav-links li:hover a,
#nav .nav-links li.active a {
  color: #2e7d32;
  border-bottom: 2px solid #2e7d32;
}

#nav input {
  outline: none;
  border: none;
  border-bottom: 2px solid #f2efea;
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #f2efea;
}

#nav input::placeholder {
  color: #f2efea;
  font-weight: 100;
}

#nav input:active,
#nav input:focus {
  border-color: #2e7d32;
  color: #2e7d32;
}
#nav input:focus::placeholder {
  border-color: #2e7d32;
  color: #2e7d32;
}

/* *** *** *** banner section*** *** *** */
#banner {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/banner.jpg) bottom/cover fixed no-repeat;
  display: flex;
  color: #f2efea;
  align-items: center;
}

#banner .text-area,
#banner .image-area {
  width: 50%;
  /* height: 100%; */
  margin: 0 4rem;
  padding: 4rem 2rem;
}

#banner .text-area .main-title {
  text-transform: capitalize;
  font-size: 4.4rem;
  letter-spacing: 0.2rem;
  line-height: 5.5rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

#banner .text-area .main-title span {
  color: #e64a19;
}

#banner .text-area p {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

#banner .image-area {
  /* background: url(./img/group-bg.png) center/cover no-repeat; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .image-area img {
  padding: 4rem;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

/* *** *** *** about section*** *** *** */
#about {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin: auto;
  background: linear-gradient(
    to top right,
    rgba(230, 73, 25, 0.25),
    rgba(230, 73, 25, 0.55)
  );
  padding-bottom: 0;
}

#about::before {
  height: 10rem;
  width: 10rem;
  content: "";
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
  border-radius: 50%;
  background: linear-gradient(#ff7043, #e64a19);
}
#about::after {
  height: 10rem;
  width: 10rem;
  content: "";
  position: absolute;
  bottom: -3rem;
  right: -3rem;
  border-radius: 50%;
  background: linear-gradient(#ff7043, #e64a19);
}

#about .image-area {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about .image-area img {
  height: 50rem;
  width: auto;
}

#about .text-area {
  width: 50%;
  display: flex;
  flex-flow: column;
  padding: 1rem 3rem;
  color: #555;
}

/* #about .text-area h2,
#about .text-area p,
#about .text-area .btn {
  margin-bottom: 2.5rem;
  text-align: justify;
} */
#about .text-area h2 {
  display: inline-block;
  color: #333;
  margin-bottom: 2rem;
}

#about .text-area p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-left: 1rem;
  text-align: justify;
  margin-bottom: 1.5rem;
}
#about .text-area .speciality {
  margin-left: 1rem;
}

#about .text-area .speciality ul li {
  margin: 0.5rem 1rem;
  text-transform: capitalize;
}
#about .text-area .btn {
  width: 30%;
  text-align: center;
  margin-top: 2rem;
}

/* *** *** *** recipies section*** *** *** */

#recipies {
  width: 80%;
  color: #1a181b;
  text-align: center;
  margin: auto;
}
#recipies .heading {
  margin: auto;
  margin-bottom: 4rem;
  width: 60%;
  color: #777;
}

#recipies .heading h3 {
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
  position: relative;
}

#recipies .heading h3::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 35%;
  background: linear-gradient(to left, #777, #b1b1b1, #777);
  height: 2px;
  width: 30%;
}

#recipies .heading p {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

#recipies .all-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

#recipies .all-items .item {
  width: 33%;
  height: 40rem;
  padding: 1.5rem;
  border-radius: 2.5rem;
  overflow: hidden;
  margin: 0 2rem;
  box-shadow: 4px 4px 16px #b1b1b1, -4px -4px 16px #b1b1b1;
}

#recipies .all-items .item img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
  margin-bottom: 2rem;
}

#recipies .all-items .item h4 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

#recipies .all-items .item p {
  margin-bottom: 1rem;
}

#recipies .btn {
  background: linear-gradient(#2e7d32, #66bb6a);
  border: none;
  box-shadow: 0 2px 4px #66bb6a;
  padding: 1rem 1.5rem;
}
#recipies .btn:hover {
  background: transparent;
  color: #2e7d32;
  border: none;
}

/* *** *** *** contact Section *** *** *** */
.contact-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./img/conatct-bg.jpg) center/cover fixed no-repeat;
}

#contact {
  width: 80%;
  margin: auto;
  display: flex;
}

#contact .order-form,
#contact .contact-form {
  width: 50%;
  margin: 0 5rem;
  border: 2px solid #777;
  box-shadow: 4px 0 8px #777, -4px 0 8px #777;
  border-radius: 2rem;
}

#contact form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

#contact h3 {
  color: #f2efea;
  margin: 2rem 2rem -1rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

#contact form input {
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
  padding: 0.5rem 1.5rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: left;
  margin: auto;
  border-bottom: 2px solid #f2efea;
  margin-bottom: 1rem;
  color: #f2efea;
}

#contact form textarea {
  background: transparent;
  color: #f2efea;
  width: 80%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  border-bottom: 2px solid #f2efea;
  padding: 0.5rem 1.5rem;
  margin: auto;
  margin-bottom: 1rem;
}

#contact form input.btn {
  background: #e64a19;
  display: block;
  max-width: 60%;
  border: none;
  text-align: center;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
}
#contact form input.btn:hover {
  background: transparent;
}

/* *** *** *** Footer Section *** *** *** */

#footer {
  padding: 5rem;
  margin: auto;
  width: 100%;
  text-align: center;
  background: #1a181b;
  color: #f2efea;
}

#footer h2 {
  display: inline-block;
  border-bottom: 2px solid #2e7d32;
  color: #2e7d32;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

#footer p {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 1rem;
}

#footer p span {
  color: #e64a19;
  font-style: italic;
}
#footer .links {
  text-transform: capitalize;
}
#footer .links a {
  color: #f2efea;
  padding: 0.5rem 1rem;
  letter-spacing: 0.2rem;
  color: #2e7d32;
}

#footer .links a:hover {
  text-decoration: underline;
  color: #f2efea;
}
